body{
    margin:0px;
    padding: 0px;
}
.main-section{
    padding-right: 14px;
}
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  #navbar li a {
    display: block;
    color:	#707070;
    padding: 8px 16px;
    text-decoration: none;
  }
  
#navbar li  {
    text-align: center;
    border-bottom: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
     }
#navbar h1 {
    text-align: center;
    display: block;
    color:black;
    text-decoration: none;
   
}
.main-section header{
    color:black;
}
 .content{

    margin-left:25%;
    margin-top:0%;
    padding:1px 16px;
    height:1000px;
    color:	#707070;
 }
header{

     color:black;
     font-size: 20;
 }
 .box{
     background-color:#D8D8D8;
     color:	#707070;
     padding: 20px;
 }
 .box1{
    background-color:#D8D8D8;
    color:	#707070;
   box-sizing:3px;
   width:20%;
   height: 2%;
}